
  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
/*     color: #818181; */
	/* 홈페이지 최대 넓이 폭 */
    width : 1280px;
    max-width : 100%;
    margin : 0px auto !important;
  }
  main {
  	min-height: calc(100% - 30px);
  	margin-top: 50px;
  }
  
  footer {
  	height: 30px
  }
  
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 
  img{
	vertical-align: middle;
	width: 100%;
	max-width: 100%;
  }
  .aboutSection {
    width: 100%;
/*     max-width: 71.25rem; */
    padding: 10rem 2rem;
    margin: 0 auto;
  }
  .aboutMeTable {
  	display: table;
    position: relative;
    margin: 0 auto 3rem;
  }
  .aboutMe {
  	border-bottom-width: 1px;
    border-bottom-style: solid;   
    border-bottom-color: #cccccc;
/*     font-family: Black Han Sans, sans-serif; */
/*     font-weight: 400; */
/*     font-size: 3rem; */
	text-align: center;
    line-height: 1.5;
  }
  .aboutbody {
  	display: flex;
  	flex-direction: row;
    align-items: center;
    margin: 20px;
  }
  .aboutContent {
    width: 70%;    
/*     padding-left: 100px; */
  	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    -webkit-box-pack: justify;
  }
  .aboutContent-wrap{
  	width: 50%;
  	padding: 10px;
  }
  .contentDiv{
  	display: flex;
    display: -ms-flexbox;
    flex-flow: row nowrap;
    width: 100%;
/*     max-width: 14rem; */
    margin: 0 auto;
    opacity: .8;
  }
  .aboutImg{
  	width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: .2rem;
    margin-right: 2rem;
  }
  .aboutTitle {
  	margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .aboutDesc {
    margin-bottom: .5rem;
  	font-weight: 400;
    font-size: 1.5rem;
  }
  .profileImg {
  	width: 300px;
    border-radius: 50%;
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
/*     margin: 0px 50px 0px 100px; */
  } 
  .jumbotron {
    background-color: #f4511e !important;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    height: 400px;
  }
  
  .compName {
  	margin-top : 70px;
  }
  
  .container-fluid {
    padding: 60px 50px;
  }
  /* 게시판 sectoin 넓이 */
  .boardlst {
    margin: 0px auto;
    padding-top: 150px;
	width : 90%;
    max-width : 100%;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }

  /* 메인페이지_기술 스택 */
  .skills_tech{
	 padding: 1.5rem;
	 padding-bottom: 0px;
  }
  .skill_title_text{
 	 padding-bottom: .5rem;
/*      margin-bottom: 1.5rem; */
     border-bottom: 1px solid #ccc;
     font-weight: 700;
     font-size: 3rem;
     color: #f4623a;
  }

  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  #attachImg {
  	width: 100%;
  	height: auto;
  	margin: 0px auto;
  	align-items: center;
  }
  .panel {
/*     border: 1px solid #f4511e;  */
/*     border-radius:0 !important; */
	border: none;
    border-radius: 10px;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-body {
  	height: 35rem;
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    /* nav 최대 넓이 폭 */
    width : 1280px;
    max-width : 100%;
    margin : 0px auto !important;
    background-color: #f4511e !important;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #f4511e !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #f4511e !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  
  .boldFont {
	  font-weight: bold;
  }  
	
	/* 포폴 area */ 
  #portfolio {
  	 font-family: Noto Sans KR, sans-serif;
  	 line-height: normal;
  	 font-size: initial;
  } 
	 /* Description */ 
	 .description {	
	 	border: 1px solid #ddd;
	 	border-radius: 5px;
	 	height: 500px;
	 }
	 
	 .desHeader {
	 	background-color: #f4511e;
	 	color: #fff;
	 	border-top-left-radius: 5px;
	 	border-top-right-radius: 5px;
	 }
	 
	 .desTitle {
	 	margin: 0px;
	 	padding: 20px 0px;
	 }
	 
	 .desBody {
	 	padding: 20px 20px 10px 20px;
	 }
	 
	 .desContent {
	 	color: inherit;
	 	font-size: 14px;
	 }
	 
	 .des_left {
	 	padding-left: 0px;
	 }
	 
	 .emphasize {
	 	color: #dc3545;
	 }
	 #project {
	 	margin-bottom: 120px;
	 }
	 .project_description_main {
	 	border-bottom: 1px solid #ccc;
	/*  	font-size: 1rem; */
	/*  	font-weight: 400; */
	 	padding-bottom: 2rem;
	 	margin-bottom: 2rem;
	 }
	 
	 .description_subtitle {
	 	display: inline-block;
	    vertical-align: top;
	    width: 12rem;
	    font-weight: 900;
	 }
	 .description_subtitle::before {
	 	content: "✔";
	    display: inline;
	    padding-right: .5rem;
	 }
	 .description_subbody{
	 	display: inline-block;
	    vertical-align: bottom;
	/*     width: calc(100% - 8.4rem); */
	    font-weight: 400;
	 }
	.cardrow {
	  display: flex;
      justify-content: space-between;
      height: 50vh;
      margin: 20px;
	}
	.card {
/*  	  width: 48%; */
/* 	  perspective: 1000px; */
/* 	  position: relative; */
	  flex: 1 1 calc(50% - 20px);
      margin: 10px;
      perspective: 1000px;
      position: relative;
      box-sizing: border-box;
	}
	
	.card .front,
	.card .back {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  backface-visibility: hidden;
	  transition: transform 1.3s;
	}
	
	.card .front {
	  transform: rotateY(0deg);
	}
	
	.card .back {
	  transform: rotateY(180deg);
	}
	
	.card:hover .front {
	  transform: rotateY(-180deg);
	}
	
	.card:hover .back {
	  transform: rotateY(0deg);
	}
	 .thumbnail {
/* 		height: 350px;   */
	    margin: 0px 20px;
	    padding: 28px;;
	/*     border: none; */
		border: 1px solid #ccc;
	    border-radius: 10px;
	    overflow-y: auto;
	  }
	  .thumbnail img {
	    width: 100%;
	    height: 28vh;
	    margin-bottom: 10px;
	  }
	  .thumbnail > p {
	  text-align: left;
	  }
	  .hashtag {
	  	font-size: 13.5px;
	    font-style: italic;
	    color: gray;
	  }
		
