@media (max-width: 830px) {
	.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #f4511e !important;
	}

	.aboutbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
	}
	.aboutContent {
    width: 80%;
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    -webkit-box-pack: justify;
	}
	.aboutContent-wrap {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
	}
	.cardrow {
/*     display: flex; */
/*     flex-wrap: wrap; */
    flex-direction: column;
    height: 110vh;
    position: relative;
    align-items: center;
	}
	.card {
	width: 100%;
    max-width: 100%;
/* 	flex: 1 1 100%; */
	perspective: none;
	position: relative;
	}

	.thumbnail {
	width: 100%;
/* 	height:350px; */
/* 	overflow-y: auto; */
/*     padding: 28px; */
    /* border: none; */
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 25px 0;
	}
	
	.back > .thumbnail {
	height:350px;
	overflow-y: auto;
	}

	
}
